{% extends 'base.html.twig' %}

{% block title %}New Thread{% endblock %}

{% block body %}
    <h1>Nuevo tema en {{ forum.name }}</h1>

    {{ include('thread/_form.html.twig') }}

    <a href="{{ path('app_thread_index') }}">back to list</a>
{% endblock %}
